<!DOCTYPE html>
  <html lang= "en">
    <head>
    <meta charset="utf-8">
     <title> Courses </title>
     <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
    <img class= "logo" src= "images/osulogo.png" alt= "osu"/>
      <div class= "top">
        
        <p> top </p>
      </div>
      <div class= "middle">
        <p> middle </p>
        <%= yield %>
      </div>
      <div class= "footer">
        <p> footer </p>
      </div>



    </body>
  </html>

