<!DOCTYPE html>
  <html lang= "en">
    <head>
    <meta charset="utf-8">
     <title> Courses Rendering Website </title>
     <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
      <div class= "header">
        <img class= "logo" src= "images/osu_logo.png" alt= "osu"/>
        <h1>Course Sorter</h1>
      </div>

      <div class= "middle">
        <%= yield %>
      </div>
      <div class= "footer">
        <p class= "authors"> Made by: Ben Pearlstein, Matthew Rosivack, Camyrn Friedman, Aishwarya Arun, and Yifan Zhou </p>
      </div>



    </body>
  </html>

