<div class= "selection">
<ul class= "buttons">
  <li class= "active">
     <a href= "about.html" class="nav-link">About</a>
  </li>
  <li>
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li>
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>

<h2>About</h2>
<div class= "paragraph">
   <p> In this project, the team modified the web scraper created in the last project and used the data to create a static site.</p>
   <p> The link to the website that was used can be found here: 
   <a href = "https://classes.osu.edu/class-search/#/?q=cse&campus=col&term=1224&p=1">CSE Course Search</a>
   </p>
</div>
</div>