<div class= "selection">
<ul class= "buttons">
  <li>
     <a href= "about.html" class="nav-link">About</a>
  </li>
  <li class= "active">
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li>
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>
</div>