<div class= "selection">
<ul class>
  <li class= "active">
     <a href= "index.html" class="nav-link">About</a>
  </li>
  <li>
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li>
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>

<BR>
<h2>About</h2>
   <p> In this project, the team modified the web scraper created in the previous project and converted the data into a YML data file. This project parses through the data and sorts it by course number, instructor, and building/room number. The output can be found in a tabular format on the corresponding pages via the navigation bar at the top of the website. </p>
   <p> The link to the website that was used to retrieve the data can be found here: 
   <a href = "https://classes.osu.edu/class-search/#/?q=cse&campus=col&term=1224&p=1">CSE Course Search</a>
   </p>
</div>