
<div class = "nav">
<ul class = "nav-bar">
  <li class= "active">
     <a href= "index.html" class="nav-link">About</a>
  </li>
  <li>
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li>
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>
</div>

<div class = "data">
<h2>About</h2>
   <p> 
        In this project, the team modified the web scraper created in the previous project and converted the data into a YML data file.
        <br>
        The data was retrieved from this website: 
        <a href = "https://classes.osu.edu/class-search/#/?q=cse&campus=col&term=1224&p=1">CSE Course Search</a>.
        The data was extracted by combining the information from each section 
        <br>
        with the sections' course information. This project parses through the data and sorts it by course number, instructor, and
        <br>
        building/room number. The output can be found in a tabular format on the corresponding pages via the navigation bar at the top 
        <br>
        of the website. 
   </p>

</div>