body {
    background: rgba(179, 174, 174, 0.1);

}
ul{
    list-style-type:none;
}

p{
    font-family: Arial, Helvetica, sans-serif
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 2.5rem;
}

h2{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

table{
    width:100%;
    border: 1px solid;

}

th{
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(odd) {
    background-color: #dbdada;
}
tr:hover {
    background-color:rgba(179, 18, 18, 0.568)
}
tr:first-child {
    background-color: #dbdada
}

.logo{
transform: scale(0.5);
height: 99px;
width: 600px;
float: right;

}
li{
    float: left
}

.nav{
    margin-bottom: 20px;
    height: auto;

}
.data {
    margin-top: 20px;
}


a {
    text-decoration: none;
}

.nav-bar { 
    height: auto;
    display:flex;
    flex-direction: row;
    list-style: none;
    
}

.nav-link:hover{
    background:rgba(126, 122, 122, 0.15);

}


.nav-link{
    background:rgba(138, 132, 132, 0.1);
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 150%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(19, 18, 18, 0.8);
}


.active{
    background:rgba(104, 101, 101, 0.1);

}

.header{
    padding: 0.2em;
    height: auto;
}

.middle {
    padding: 0.2em;

    height: auto;
    margin-bottom: 50px;
}

.footer .authors {
    padding: 0.2em;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    margin-top: 50px;
    background:rgba(128, 124, 124, 0.1);
    font-family:Arial, Helvetica, sans-serif;
}
